* {
  font-family: "Verdana"
}
* {
  background-color: #cccccc
}
h1, h2 {
  color: #006600
}
.social {
  text-align: right;
}
.resize {
  width:40px;
  height:auto;
}
.bottom {
  position: fixed;
    text-align: right;
    bottom: 0px;
    width: 100%;
}
