* {
  font-family: "Verdana"\
  background-color: #cccccc;
}
.banner {
  background: black;
  text-align:center;
  max-height: 300px;
  margin-top: -45px;
}
.imgresize {
  height: 300px;
}
h1 {
  text-align: center;
}
h1, h2 {
  color: #006600;
}
.social {
  text-align: right;
}
.socialresize {
  width:40px;
  height:auto;
}
.bottomright {
  position: fixed;
    text-align: right;
    bottom: 0;
    width: 100%;
}
.listhead {
  position:static;
  text-align: left;
  bottom: 0
}
.listbox {
  border: 5px solid #006600;
  padding: 20px;
  width: 275px;
  text-align: left;
  border-radius: 10px;
  bottom: 0;
}
.listpos {
  position: static;
    text-align: left;
    bottom: 0;
}
